/*!
 *   33planet v1.0
 *   Author: 33planet, Inc
 *	 Website: 33planet <http://33planet.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
 * Core: General Layout Style
 * -------------------------
 */

body{
  padding-top: 70px;
}

 /*Navbar Layout*/
.navbar{
  background-color: #FFF;
  color: #3954A5;
}
.navbar-brand {
  padding: 0px;
  height: 70px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.nav >li >a {
  padding-top: 25px;
  padding-bottom: 25px;

}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/*Banner Layout*/  
.header-image {
  background: url('./landing_page.jpg') no-repeat center;
  background-size: 100%;
  min-height: 60%;
  position: relative;
  z-index: 0;
  padding: 0;
}
.header-image-contain {
  min-height: 60%;
  position: relative;
  z-index: 1;
  padding: 3% 20% 5% 7%;
}

/*Button Square*/
.button-transparant-white {
  border: 2px solid #3954A5;
  background: transparent;
  color: #FFF;
  padding: 2px;
}